$white: #fafafa;
$black: #0c0c0c;
$primary-color: #e28181;
$secondary-color: #f6acac;

$border-radius: 20px;

$distance: 28px; // Defines the distance the dots move in the animation (either up or down by 28px)
